.skeleton {
    background: #e2e2e2;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

    .skeleton::after {
        content: "";
        position: absolute;
        top: 0;
        left: -150px;
        height: 100%;
        width: 150px;
        background: linear-gradient(90deg, transparent, rgba(255,255,255,0.3), transparent);
        animation: loading 1.2s infinite;
    }

.skeleton-input {
    height: 38px;
    width: 100%;
}

@keyframes loading {
    0% {
        left: -150px;
    }

    100% {
        left: 100%;
    }
}
